<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhnnext.android.kumdo"
    android:versionCode="7"
    android:versionName="0.0.7">

    <!-- Internet 통신을 위한 Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- kikat 아래 버전을 위해 갤러리에 이미지 저장을 위한 Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- kikat 아래 버전을 위해 갤러리 리스트를 불러오기 위한 Permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Jelly Bean ~ Lollipop -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <!-- xlargeScreens은 태블릿이기 때문에 고려 안하기로 한다 -->
    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"
        android:anyDensity="true"
        />

    <!-- 요즘 device는 ldpi가 잘 나오지 않기 때문에 고려 하지 않기로 한다 -->
    <compatible-screens>
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />

        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- home / search / my
         TODO home/search/my 는 fragment로 구현.
         home에는 추천 글 fragment.
         search에는 카테고리 선택 메뉴 fragment
         my에는 내가 작성한 글(Image로 저장될 예정) 리스트 fragment

        -->

        <!-- activity 속성 값은 현재 default로 설정 -->
        <activity
            android:allowEmbedded="false"
            android:allowTaskReparenting="false"
            android:alwaysRetainTaskState="false"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="false"
            android:enabled="true"
            android:excludeFromRecents="false"
            android:exported="true"
            android:finishOnTaskLaunch="false"
            android:hardwareAccelerated="false"
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Write Activity
            TODO 글 작성 버튼 클릭시 글 작성 Activity로 전환.
            글을 작성할 activity이기 때문에 Intent action은 Edit로 설정
        -->
        <activity android:name=".WriteActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Read Detail Activity
            TODO 추천 글. 리스트 등에서 클릭 시 이미지 + 글을 상세하게 보여준다.
            서버에 저장 된 정보를 상세하기 보여줄 activity이기 때문에 Intent action은 View로 설정
        -->
        <activity android:name=".DetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
